.theProgram
    font-size: 18px
    padding: 20px
    overflow: auto
    padding-top: 80px
    height: 100vh
    //background-color: $color-offwhite
    
.theProgramTitle
    text-align: center
    font-size: 35px
    padding: 10px
    border-bottom: $border-1
    //color: white
    //background-color: $color-2
    
.theProgramDescription
    padding: 10px
    margin: 10px
    
.theProgramming
    width: 65%
    float: left
    background-color: white
    //border: $border-1
    //box-shadow: 0px 4px $color-2
    
.programmingBody
    margin: 10px
    
.theWorkout
    border: $border-1
    margin-bottom: 15px
    box-shadow: 0px 2px $color-2

.overviewTitle
    font-size: 25px
    text-align: center
    //background-color: $color-2
    //color: white
    padding: 5px
    
.overviewWorkout
    padding: 5px
    text-align: center
    background-color: $color-2
    color: white
    
.exerciseList
    list-style-type: none
    overflow: auto
    padding: 0px
    margin: 0px
    
.exerciseList *
    float: left
    display: inline-block
    
.exerciseItem:nth-child(2n+3)
    background-color: $color-offwhite
    
.exerciseItem
    width: 100%
    
.exerciseItem:first-child
    border-bottom: $filter-border
    
.exerciseName
    width: 40%
    padding-left: 10px
        
.exerciseSets
    width: 20%
    text-align: center
        
.exerciseReps
    width: 20%
    text-align: center
        
.exerciseWeight
    width: 20%
    text-align: center